@import "../styles/_vars.scss";

button {
  color: white;
  background-color: tan;
  border-radius: 20px;
  padding: .99vw;
  background-image: linear-gradient(rgba(70, 126, 199, 0.733),rgba(34, 121, 148, 0.842));
  font-size: 13px;
}

.render  {
  padding-left: 300px;
  text-align: right;
  word-wrap: break-word;
}

.modal {
  text-align: center;
}