@import "_vars.scss";

// base should style just the html and the body of the website

body {
  background-color: hsla(0, 0%, 100%, 0.75);
}

img {padding-left: 40px};

ul li:nth-child(odd) {
  background: rgba(133, 143, 151, 0.31);
}

main {
  background-color: #e0eff9;
}