// every component will style itself and only itself
// components can position their direct children

@import "../styles/_vars.scss";

.app {

  background: url("../assets/notepad.png");
  background-size: 100% auto;
  font-size: calc(5px + 3vmin);
}

.app-img {
  float: center;
}


